.events {
    display: flex;
    justify-content: space-evenly;
  }
 
  .card-body {
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  } 

  .card {
    width: 70rem;
  }
  
  .card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  
  .card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
  }
  
  .eventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }