.events {
    display: flex;
    flex-direction: column
  }
 
  .card-body {
    display: flex;
    flex-direction: row;
  } 

  .card {
    width: 50rem;
  }
  
  .card-title {
    display: flex;
  }
  
  .card-link {
    margin: 5px 0 0 0;
    font-size: 0.7em;
  }
  
  .eventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }